@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
    --text-color: #667085;
    --header-color: #101828;
    --base-white: #FFF;
    --secondary-color: #8E2424;

    --primary-font-family: 'Inter', sans-serif;
    --subtitles-big-font-size: 2.25rem;
    --subtitles-medium-font-size: 1.25rem;
    --subtitles-small-font-size: 1.125rem;
    --medium-text-font-size: 1rem;
    --small-text-font-size: 0.875rem;
    --font-weight-light-text: 400;
    --font-weight-regular-text: 500;
    --font-weight-strong-text: 600;
}

body {
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 10%;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
}

.header__logo__title {
    font-family: var(--primary-font-family);
    color: #3A404E;
    font-size: var(--subtitles-font-size);
    font-style: normal;
    font-weight: var(--font-weight-regular-text);
}

.header__nav {
    display: flex;
    gap: 3rem;
}

.header__nav__link {
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--primary-font-family);
    font-weight: var(--font-weight-regular-text);
    font-size: var(--medium-text-font-size);
    font-style: normal;
}

.header__hidden {
    width: 8.875rem;
    height: 2rem;
}

.header__button {
    display: flex;
    gap: 0.75rem;
}

.header__button__login {
    padding: 0.625rem 1.125rem;
    color: var(--text-color);
    font-family: var(--primary-font-family);
    font-size: var(--medium-text-font-size);
    font-style: normal;
    font-weight: var(--font-weight-regular-text);
    text-decoration: none;
}

.header__button__register {
    padding: 0.625rem 1.125rem;
    color: var(--base-white);
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: var(--font-weight-regular-text);
    text-decoration: none;
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
}

.header__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
}

.header__content__title {
    font-family: var(--primary-font-family);
    font-weight: var(--font-weight-strong-text);
    font-size: 3rem;
    font-style: normal;
    color: var(--header-color);
}

.header__content__paragraph {
    color: var(--text-color);
    font-family: var(--primary-font-family);
    font-weight: var(--font-weight-light-text);
    font-style: normal;
    font-size: var(--subtitles-medium-font-size);
    padding-top: 0.75rem;
    width: 40%;
    line-height: 1.875rem;
    text-align: center;
}

.metrics {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    padding: 0 10%;
}

.metrics__content {
   display: flex; 
   flex-direction: column;
   justify-content: center;
   gap: 1rem;
   font-family: var(--primary-font-family);
   font-style: normal;
}

.metrics__title {
    color: var(--secondary-color);
    font-weight: var(--font-weight-strong-text);
    font-size: 3.75rem;
    line-height: 4.5rem;
}

.metrics__subtitle {
    color: var(--header-color);
    font-weight: var(--font-weight-regular-text);
    font-size: var(--subtitles-font-size);
}

.metrics__paragraph {
    color: var(--text-color);
    font-weight: var(--font-weight-light-text);
    font-size: var(--medium-text-font-size);
    line-height: 1.5rem;
}

.jobs {
    display: flex;
    padding: 8% 0;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.jobs__content {
    text-align: center;
    align-items: center;
    font-family: var(--primary-font-family);
    font-style: normal;
    gap: 3rem;
    display: flex;
    flex-direction: column;
}

.jobs__content__subtitle {
    color: var(--secondary-color);
    font-size: var(--small-text-font-size);
    font-weight: var(--font-weight-regular-text);
    line-height: 1.25rem;
    border-radius: 1rem;
    background: rgba(142, 36, 36, 0.05);
    padding: 0.25rem 0.75rem;
    width: 25%;
}

.jobs__content__title {
    color: var(--header-color);
    text-align: center;
    font-family: var(--primary-font-family);
    font-size: var(--subtitles-big-font-size);
    font-style: normal;
    font-weight: var(--font-weight-strong-text);
    line-height: 2.75rem;   
    letter-spacing: -0.045rem;
}

.jobs__content__paragraph {
    color: var(--text-color);
    text-align: center;
    font-family: var(--primary-font-family);
    font-size: var(--subtitles-medium-font-size);
    font-style: normal;
    font-weight: var(--font-weight-light-text);
    line-height: 1.875rem;
}

.jobs__image {
    width: 85%;
    height: 50%;
}

.jobs__vacancies {
    display: flex;
    width: 80%;
    padding: 0 2rem;
    flex-direction: column;
    align-items: center;
    gap: 4rem;  
}

.jobs__vacancies__container {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.jobs__vacancies__container__title {
    color: var(--header-color);
    font-family: var(--primary-font-family);
    font-size: var(--subtitles-medium-font-size);
    font-style: normal;
    font-weight: var(--font-weight-regular-text);
    line-height: 1.875rem;
}

.jobs__vacancies__container__card {
    display: flex;
    padding: 1.5rem 1.5rem 1.75rem 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    align-self: stretch;
    border-radius: 1rem;
    border: 1px solid #EAECF0;
    background: var(--base-white);
}

.jobs__vacancies__container__card__title {
    color: var(--header-color);
    font-family: var(--primary-font-family);
    font-size: var(--subtitles-font-size);
    font-style: normal;
    font-weight: var(--font-weight-regular-text);
    line-height: 1.75rem;
}

.jobs__vacancies__container__card__info {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;
}

.jobs__vacancies__container__card__info__paragraph {
    color: var(--text-color);
    font-family: var(--primary-font-family);
    font-size: var(--medium-text-font-size);
    font-style: normal;
    font-weight: var(--font-weight-regular-text);
    line-height: 1.5rem;
}

.depositions {
    display: flex;
    padding-bottom: 6rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.depositions__container {
    display: flex;
    width: 80%;
    padding: 0 2rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.depositions__container__content {
    display: flex;
    padding: 4rem;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    align-self: stretch;
    border-radius: 1rem;
    background: rgba(195, 25, 25, 0.03);
}

.depositions__container__content__subheadingandquote {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
}

.depositions__container__content__subheadingandquote__subheading {
    color: var(--secondary-color);
    text-align: center;
    font-family: var(--primary-font-family);
    font-size: var(--small-text-font-size);
    font-style: normal;
    font-weight: var(--font-weight-strong-text);
    line-height: 1.25rem;
}

.depositions__container__content__subheadingandquote__quote {
    color: var(--header-color);
    text-align: center;
    font-family: var(--primary-font-family);
    font-size: var(--subtitles-big-font-size);
    font-style: normal;
    font-weight: var(--font-weight-regular-text);
    line-height: 2.75rem;
    letter-spacing: -0.045rem;
}

.depositions__container__content__avatarandtext {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.depositions__container__content__avatarandtext__text {
    color: var(--header-color);
    text-align: center;
    font-family: var(--primary-font-family);
    font-size: var(--medium-text-font-size);
    font-style: normal;
    font-weight: var(--font-weight-regular-text);
    line-height: 1.5rem;
}

.depositions__container__content__avatarandtext__supportingtext {
    color: var(--text-color);
    text-align: center;
    font-family: var(--primary-font-family);
    font-size: var(--small-text-font-size);
    font-style: normal;
    font-weight: var(--font-weight-light-text);
    line-height: 1.25rem;
}

.form {
    display: flex;
    height: 50%;
    padding: 6rem 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: #F9FAFB;
    font-family: var(--primary-font-family);
}

.form__container {
    display: flex;
    height: 50%;
    padding: 0 2rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.form__container__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.form__container__content__heading {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    color: var(--header-color);
    text-align: center;
    font-size: var(--subtitles-big-font-size);
    font-style: normal;
    font-weight: var(--font-weight-strong-text);
    line-height: 2.75rem;
    letter-spacing: -0.045rem;
}

.form__container__content__heading__text {
    color: var(--text-color);
    font-size: var(--subtitles-medium-font-size);
    font-weight: var(--font-weight-light-text);
    line-height: 1.875rem;
}

.form__container__content__email {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    
}

.form__container__content__email__input {
    padding: 0.75rem 0.875rem 0.75rem 1rem;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    background: var(--base-white);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: var(--text-color);
    font-size: var(--medium-text-font-size);
    font-style: normal;
    font-weight: var(--font-weight-light-text);
    line-height: 1.5rem;
}

.form__container__content__email__button {
    padding: 0.75rem 1.25rem;
    justify-content: center;
    align-items: center;
    color: var(--base-white);
    font-size: var(--medium-text-font-size);
    font-style: normal;
    font-weight: var(--font-weight-regular-text);
    line-height: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--secondary-color);
    background: var(--secondary-color);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.form__footertext {
    color: #98A2B3;
    font-size: var(--medium-text-font-size);
    font-style: normal;
    font-weight: var(--font-weight-light-text);
    line-height: 1.5rem;
}

@media (max-width : 820px) {
    .header {
        padding: 2% 2%;
        gap: 1rem;
        flex-direction: column-reverse;
    }

    .header__hidden {
        height: 0.5rem;
    }
}

@media (max-width : 720px) {
    .header__nav {
        gap: 1rem;
    }

    .header__button {
        gap: 0.2rem;
    }

    .header__button__login {
        padding: 0.625rem 1rem;
    }

    .header__button__register {
        padding: 0.625rem 1rem;
    }

    .header__content {
        text-align: center;
    }

    .metrics {
        flex-direction: column;
        padding: 0 25%;
        text-align: center;
    }

    .jobs__content {
        padding: 1rem;
    }

    .jobs__vacancies {
        width: auto;
    }

    .jobs__vacancies__container {
        width: 100%;
    }

    .jobs__vacancies__container__title {
        font-size: 1.5rem;
    }

    .jobs__vacancies__container__card__title {
        font-size: 1.2rem;
    }

    .jobs__vacancies__container__card__info__paragraph {
        font-size: 1.1rem;
    }

    .depositions {
        padding-bottom: 2rem;
    }

    .depositions__container__content__subheadingandquote__quote {
        font-size: 2.0rem;
    }

    .form {
        width: auto;
        text-align: center;
        padding: 3rem 0;
    }

    .form__container {
        width: auto;
    }

    .form__container__content__heading {
        font-size: 1.8rem;
    }
}

@media (max-width : 280px) {
    .header {
        gap: 0.5rem;
    }
    
    .header__logo {
        padding: 4% 0;
    }

    .header__nav {
        flex-direction: column;
    }

    .depositions {
        padding-bottom: 3rem;
    }

    .depositions__container__content {
        padding: 3rem;
    }

    .form {
        padding: 3rem 0;
        text-align: center;
    }

    .form__container__content__email {
        flex-direction: column;
        align-items: center;
    }
}